.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.card {
  flex-basis: calc(33% - 10px);
  margin: 5px;
  transition: all 0.3s;
  border-radius: 20px;
}

.card:hover {
    transform: scale(1.03);
    boxShadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    object-fit: cover;
    borderTopLeftRadius: 5px;
    borderTopRightRadius: 5px;
}

.card h2 {
    font-size: 18px;
    margin-top: 15px;
    color: #000 !important;
}

.card p {
    margin-top: 10px;
    color: #666;
}

.divHeaderContent {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #ffffff;
}