@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

.card-body {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #111936;
    margin: 0rem;
    overflow: hidden;  
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
  }
  
h1, h2, h3, p {
    margin: 10px;
  }
  
.card {
    width: 640px;
    position: relative;
    background-color: #111936;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 3px;
  }
  
.card:after {  
    content: "";
    height: 150px;
    width: 3px;  
    position: absolute;  
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
      transparent,
      #4527A0,
      transparent
    );
    opacity: 0;
  }
  
.card:after {  
    top: 65%;
    opacity: 0;
  }
  
.card:hover:after {
    top: 25%;
    opacity: 1;
  }
  
.card-content {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 1px, 
      transparent 1px
    );
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 3rem;
    border-radius: 1.25rem;
    overflow: hidden;
    text-align: center;
    line-height: 2rem;
  }
  
.card-content > :is(h1, h3, p) {
    text-align: center;
  }
  
.card-content > h1 {
    color: #4527A0; 
    font-size: 2.6rem;
  }
  
.card-content > h3 {
    color: mediumslateblue;
    text-transform: uppercase;
    font-size: 0.76rem;
  }
  
.card-content > p {
    color: rgb(255 255 255 / 75%);
    line-height: 1.5rem;
  }
  
@media(max-width: 700px) {
    .card {
      width: calc(100% - 2rem);
      margin: 0rem 1rem;
      padding: 0.75rem;
      border-radius: 1rem;
    }
  }
  
@media(max-width: 600px) {
    .card-content {
      padding: 3rem;
    }
    
    .card-content > h1 {
      font-size: 2.2rem;
    }
  }
.gape {
  height: 25px;
}

.title-body {
  display: grid;
  place-items: center;
  height: 100px;
  background-color: #111936;
  margin: 0rem;
  overflow: hidden;
}
.title-h1 {
  font-family: 'Space Mono', monospace;
  font-size: 50px;
  color: mediumslateblue;
  padding: 0;
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

/* .title-h1:hover {
  background-color: white;
  color: black;
  padding: 10px;
  /* height: 55px;
  align-items: center;
  justify-content: center; */

.industry-title {
  font-size: 50px;
  font-weight: 100;
  margin: 50px;
}

.chat-survey {
  align-items: center;
  justify-content: center;
}

