// color variants
@import 'themes-vars.module.scss';

// third-party
@import '~react-perfect-scrollbar/dist/css/styles.css';

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
  z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
  .ps__rail-y {
    &:hover > .ps__thumb-y,
    &:focus > .ps__thumb-y,
    &.ps--clicking .ps__thumb-y {
      background-color: $grey500;
      width: 5px;
    }
  }
  .ps__thumb-y {
    background-color: $grey500;
    border-radius: 6px;
    width: 5px;
    right: 0;
  }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
  &.ps--active-y > .ps__rail-y {
    width: 5px;
    background-color: transparent !important;
    z-index: 999;
    &:hover,
    &.ps--clicking {
      width: 5px;
      background-color: transparent;
    }
  }
  &.ps--scrolling-y > .ps__rail-y,
  &.ps--scrolling-x > .ps__rail-x {
    opacity: 0.4;
    background-color: transparent;
  }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {
  0%,
  50%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}
/*These are the CSS Rules for the hover animation glow on the ESG Stocks and Top Active Stocks */
:root {
  --bg-color: rgb(20, 20, 20);
  --block-color: rgb(23, 23, 23);
}

.fat {
  align-items: center;
  background-color: rgba(41, 49, 79, 1);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0px;
  overflow:hidden;
  padding: 0px;
  margin-left: 125px;
}
#blocks {
  display: flex;
  flex-wrap: wrap;
  // gap: 8px;
  max-width: 912006px;
  width: 100%;
  margin: 0 auto;
  margin-top: -100px;
  border-radius: 10px;
}
#blocks:hover > .block > .block-border {
  opacity: 0;
}

.block {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 468px;
  position: relative;
  width: 300px;
  box-shadow: 0 0px 20px rgba(69, 39, 160, 1);
}
.block:hover::before {
  opacity: 0.1;
}
.block::before,
.block > .block-border {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity:0.1;
  position: absolute;
  top: 0px;
  transition: 1ms;
  width: 100%;
}
.block::before{
  background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y), 
      rgba(144, 202, 249),
      transparent 20%
  );
  z-index: 3;
}
.block > .block-border {
  background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y), 
      rgba(144, 202, 249),
      transparent 20%
  
  );
  opacity: 1;
  z-index: 1;
}
.block > block-content {
  background-color: var(--block-color);
  border-radius: inherit;
  margin: 1px;
  opacity: 1;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  z-index: 2;
  position: relative;
}
// These are the CSS Rules for the Gradient Headers
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
.top-active-stocks-container {
  background: linear-gradient(0deg, rgba(41, 49, 79, 1) 0%, rgba(69, 39, 160, 1) 100%);
  padding: 20px; /* Add padding to increase vertical space */
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text horizontally */
  font-family: 'Libre Franklin', sans-serif; /* Replace 'Your Custom Font' with your desired font or font-family */
  font-size: 50px; /* Adjust the font size as needed */
}
.stock-val-skill-container {
  background: linear-gradient(0deg, rgba(17, 25, 54) 0%, rgba(69, 39, 160, 1) 100%);
  padding: 20px; /* Add padding to increase vertical space */
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text horizontally */
  font-family: 'Libre Franklin', sans-serif; /* Replace 'Your Custom Font' with your desired font or font-family */
  font-size: 50px; /* Adjust the font size as needed */
}


// These are CSS Rules for a Sliding Card from Left
.hidden {
  opacity: 0;
  filter:blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
  background-color: rgba(41, 49, 79, 1);

}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  background-color: rgba(41, 49, 79, 1);

}
// These are the CSS Rules for the Animated Gradient
.moving-gradient{
  background: linear-gradient(-45deg, #B39DDB, #4527A0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 20vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text horizontally */
  font-family: 'Libre Franklin', sans-serif; /* Replace 'Your Custom Font' with your desired font or font-family */
  font-size: 50px; /* Adjust the font size as needed */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.line {
  width: 1px;
  height: 100px;
  background-color: #4527A0;

}
