.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 5fr; /* Adjust the fractions as needed */
  gap: 20px; /* Adjust the gap between grid items */
}

.grid-tem {
  background-color: #f1f1f1;
  padding: 20px;

}


.grid-item {
  background-color: #f1f1f1;
  padding: 20px;
}

.wide-item {
  grid-column: 1 / span 2; /* Adjust the span as needed */
}


.skill-grid-container {
  display: flex;
  gap: 20px;
}

.skill-item {
    flex: 1;
}
.gap {
  height: 200px; /* Adjust the height of the gap as needed */
}
.dark {
  background-color: black;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Set the desired height */
}

.canvas-container canvas {
  width: 500px; /* Set the desired width */
  height: 100%; /* Occupy full height of the container */
}
